.headers{
  text-align: center;
  font-size: 1.5em;
  font-family: monospace;


}
.paragraph{
  font-size: 1.25em;
  font-family: monospace;
  text-align: center;
}
a{
  font-family: monospace;
  text-align: center;
  font-size: 2em;

}
